<h1>{{title}}</h1>
<form [formGroup]="loginform" (ngSubmit)="userdata()">
  <input type="text" placeholder="Enter your vaild name" formControlName="username">
  <br/>
  <span style="color: red" *ngIf="username && username.invalid && username.touched">Enter your vaild name</span>
  <br/>
  <input type="password" placeholder="Enter your vaild password" formControlName="password">
  <br/>
  <span style="color: red" *ngIf="password && password.invalid && password.touched">Enter your vaild password</span>

  <br/>
<button>Login</button>
</form>